<div>
    <h1>
        Edit Car
    </h1>
    <div>
        {{#with car}}
        <form action="/edit/car/{{id}}" method="post">
            <label for="name">
                Name
            </label>
            <input type="text" name="name" value="{{name}}">
            <label for="description">
                Description
            </label>
            <textarea name="description">{{description}}</textarea>
            <label for="image">
                Image
            </label>
            <input type="text" name="image" value="{{image}}">
            <label for="price">
                Price
            </label>
            <input type="number" name="price" value="{{price}}">
            <input type="submit" value="Save">
        </form>
        {{/with}}
    </div>
</div>