<div>
    {{#with car}}
    <h1>
        {{name}}
    </h1>
    <img class="carImage" src="/statics/images/{{image}}">
    <div class="details">
        <p>
            <span>
                Description:
            </span>
            {{description}}
        </p>
        <p>
            <span>
                Price:
            </span>
            {{price}} BGN
        </p>
        {{#if isOwner}}
        <a class="btn detailsAttribute" href="/attach/accessory/{{id}}">
            Attach Accessory
        </a>
        <a class="btn detailsAttribute" href="/edit/car/{{id}}">
            Edit
        </a>
        <a class="btn detailsAttribute" href="/delete/car/{{id}}">
            Delete
        </a>
        {{/if}}
    </div>
    {{#if accessories}}
    <h2>
        Accessories
    </h2>
    {{/if}}
    <div class="accessories">
        {{#if accessories}}
        {{#each accessories}}
        {{> accessory}}
        {{/each}}
        {{else}}
        <h3>
            No accessories yet
        </h3>
        {{/if}}
    </div>
    {{/with}}
</div>